{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ news.title }} / Новости / {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include 'news/_partial/breadcrumbs_detail.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 g-py-100">

                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 g-font-size-12 text-uppercase mb-2">{{ news.created_at|date }}</span>

                {% if news.image %}
                    <img class="img-fluid w-100 g-mb-25" src="{{ news.image|thumbnail_url:'news_lg' }}"
                         alt="{{ news.title }}">
                {% endif %}

                <div class="g-line-height-1_8">{{ news.text|safe }}</div>

                {% include 'news/_partial/more_news.html' %}
            </div>
        </div>
    </div>
{% endblock %}