{% load project_tags %}

<div class="col-lg-12 g-pt-40 ">
    <div class="row">
        <div class="col-6 col-lg-4 order-lg-1 text-right g-pt-10">
            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" value="children" name="radGroup2" checked=""
                       type="radio">
                <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf192" data-uncheck-icon="&#xf1db"></i>
                </div>
                Детям
            </label>
        </div>

        <div class="col-6 col-lg-4 order-lg-3 text-left g-pt-10">
            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" value="adults" name="radGroup2" type="radio">
                <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf192" data-uncheck-icon="&#xf1db"></i>
                </div>
                Взрослым
            </label>
        </div>

        <div class="col-12 col-lg-4 order-lg-2 text-center">
            <div class="row no-gutters">
                <div class="col-2 text-right g-pt-5">
                    {% if prev_year >= current_year|add:"-1" %}
                        <a href="{% url "playbill_events_list" %}?month={{ prev_month }}&year={{ prev_year }}" title=""><span
                                class="u-icon-v2 u-icon-size--xs g-rounded-50x g-color-primary g-bg-yellow--hover"><i
                                class="hs-icon hs-icon-arrow-left"></i></span></a>
                    {% endif %}
                </div>
                <div class="col-8 text-center">
                    <span class="text-uppercase g-font-size-28 g-font-weight-600">{{ month|month_title }} {{ year }}</span>
                </div>
                <div class="col-2 text-left g-pt-5">
                    {% if next_year != current_year|add:"2" %}
                        <a href="{% url "playbill_events_list" %}?month={{ next_month }}&year={{ next_year }}"><span
                                class="u-icon-v2 u-icon-size--xs g-rounded-50x g-color-primary g-bg-yellow--hover"><i
                                class="hs-icon hs-icon-arrow-right"></i></span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>