{% load staticfiles %}
{% load thumbnail %}

<section class="g-py-50">
    <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
            <div class="g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Ближайшие
                    представления</h2>
            </div>
        </header>

        <div class="row">
            <div class="col-lg-12">
                <div id="carousel-07" class="js-carousel" data-infinite="true"
                     data-center-padding="60px" data-slides-show="4"
                     data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-25 g-height-30 g-font-size-16 g-color-gray g-bg-gray-light-v5"
                     data-arrow-left-classes="fa fa-angle-left g-left-0"
                     data-arrow-right-classes="fa fa-angle-right g-right-0">


                    {% for event in last_events %}
                        <div class="js-slide g-mx-10 g-brd-1 g-brd-gray-light-v3 g-brd-style-solid {% if forloop.first %}g-bg-orange{% endif %}" style="min-height: 375px">
                            <div class="row">
                                <div class="col-6 text-left">
                                    <span class="g-brd-left-4 g-brd-yellow-left u-brd-style-solid--left g-pl-5 g-font-size-40 g-font-weight-600 g-line-height-1_2 {% if forloop.first %}g-color-black{% endif %}">{{ event.datetime|date:'d' }}</span>
                                    <span class="g-pl-5 g-font-size-20 {% if forloop.first %}g-color-black{% endif %}">{{ event.datetime|date:'N' }}</span>
                                </div>
                                <div class="col-6 text-right text-uppercase g-font-size-18 g-font-weight-600 g-line-height-1 g-pt-6 {% if forloop.first %}g-color-black{% endif %}">
                                    <span class="g-pr-5">{{ event.datetime|date:'D' }}</span><br>
                                    <span class="g-pr-5">{{ event.datetime|time }}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <a class="d-block u-block-hover g-pos-rel g-px-30"
                                       href="{% url "play_detail" slug=event.play.slug %}">
                                        <img class="img-fluid rounded-circle u-block-hover__main--zoom-v1"
                                             src="{{ event.play.image|thumbnail_url:'play_main_page' }}"
                                             alt="Image Description">
                                        <span class="u-icon-v2 u-icon-size--md g-pt-8 g-brd-3 g-brd-yellow g-brd-style-solid g-font-size-20 g-font-weight-600 g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-0 g-right-30">
                                            {{ event.play.age }}+
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 g-pt-10 g-pb-30">
                                    <h3 class="h4 text-uppercase g-font-weight-600 g-pl-5"><a
                                            class="u-link-v5 g-color-main g-color-primary--hover {% if forloop.first %}g-color-black{% endif %}"
                                            href="{% url "play_detail" slug=event.play.slug %}">{{ event.play.title }}</a>
                                    </h3>
                                    <span class="g-pl-5 g-color-black">{{ event.play.genre.title }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>