{% load staticfiles %}
{% load thumbnail %}

<section>
    <div class="container g-mb-20">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
            <div class="g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                    Новости</h2>
            </div>
        </header>

        <div class="row">
            {% if last_news|length > 0 %}
                {% for news in last_news %}
                    <div class="col-lg-6 g-mb-40 g-color-black">
                        <!-- Article -->
                        <div class="row">
                            <div class="col-4 g-pt-30--lg">
                                {% if news.image %}
                                <a href="{% url "news_detail" pk=news.pk %}"><img class="rounded-circle img-fluid" src="{{ news.image|thumbnail_url:'news_sm_square' }}"
                                     alt="{{ news.title }}"></a>
                                {% else %}
                                <a href="{% url "news_detail" pk=news.pk %}"><img class="rounded-circle img-fluid" src="//via.placeholder.com/350?text=No+Image"
                                     alt="{{ news.title }}"></a>
                                {% endif %}
                            </div>

                            <div class="col-8">
                                <p class="g-mb-0"><time>{{ news.created_at|date:"d.m.Y" }}</time></p>

                                <h3 class="h5 g-font-weight-600">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="{% url "news_detail" pk=news.pk %}">{{ news.title }}</a>
                                </h3>

                                <p class="g-mt-60--lg">{{ news.text|striptags|truncatewords:25|safe }}</p>

                                <p class="text-right text-lowercase"><a class="g-color-black small" href="{% url "news_detail" pk=news.pk %}">Далее <img
                                        src="{% static "assets/img/right.png" %}" alt=""></a></p>

                            </div>
                        </div>
                        <!-- End Article -->
                    </div>
                {% endfor %}
            {% else %}
                Новости отсутствуют.
            {% endif %}
        </div>
    </div>
</section>