{% load staticfiles %}
{% load thumbnail %}

<section class="g-py-50">
    <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
            <div class="g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                    Новости</h2>
            </div>
        </header>

        <div class="row">
            {% if last_news|length > 0 %}
                {% for news in last_news %}
                    <div class="col-lg-4 g-mb-30">
                        <!-- Article -->
                        <article class="g-bg-secondary">
                            <figure class="g-pos-rel">
                                <img class="img-fluid w-100" src="{{ news.image|thumbnail_url:'news_sm' }}"
                                     alt="{{ news.title }}">

                                <figcaption class="g-pos-abs g-bottom-20 g-left-20">
                                    <a class="btn btn-sm g-bg-white g-brd-3 g-brd-yellow g-brd-style-solid u-btn-outline-yellow rounded-0"
                                       href="{% url 'news_detail' pk=news.pk %}">{{ news.created_at }}</a>
                                </figcaption>
                            </figure>

                            <div class="g-pa-30">
                                <h3 class="h4 g-font-weight-600 g-mb-15">
                                    <a class="u-link-v5 g-color-main g-color-primary--hover"
                                       href="{% url 'news_detail' pk=news.pk %}">{{ news.title }}</a>
                                </h3>
                                <p>{{ news.text|striptags|truncatewords:25 }}</p>

                                <strong>
                                    <a class="text-uppercase g-font-size-12" href="{% url 'news_detail' pk=news.pk %}">Детальнее</a>
                                </strong>
                            </div>
                        </article>
                        <!-- End Article -->
                    </div>
                {% endfor %}
            {% else %}
                Новости отсутствуют.
            {% endif %}
        </div>
    </div>
</section>