{% load staticfiles %}

<section class="g-bg-secondary g-py-50">
    <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
            <div class="g-brd-primary g-mb-20">
                <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                    Новости</h2>
            </div>
        </header>

        <div class="row">
            <div class="col-lg-4 g-mb-30">
                <!-- Article -->
                <article class="g-bg-white">
                    <figure class="g-pos-rel">
                        <img class="img-fluid w-100" src="{% static "assets/img-temp/500x450/img2.jpg" %}"
                             alt="Image Description">

                        <figcaption class="g-pos-abs g-bottom-20 g-left-20">
                            <a class="btn btn-sm g-bg-white g-brd-3 g-brd-yellow g-brd-style-solid u-btn-outline-yellow rounded-0"
                               href="#">17 июля 2017 г.</a>
                        </figcaption>
                    </figure>

                    <div class="g-pa-30">
                        <h3 class="h4 g-font-weight-600 g-mb-15">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Focused on
                                helping our clients to build a great business</a>
                        </h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores.</p>

                        <strong>
                            <a class="text-uppercase g-font-size-12" href="#">Детальнее</a>
                        </strong>
                    </div>
                </article>
                <!-- End Article -->
            </div>

            <div class="col-lg-4 g-mb-30">
                <!-- Article -->
                <article class="g-bg-white">
                    <figure class="g-pos-rel">
                        <img class="img-fluid w-100" src="{% static "assets/img-temp/500x450/img10.jpg" %}"
                             alt="Image Description">

                        <figcaption class="g-pos-abs g-bottom-20 g-left-20">
                            <a class="btn btn-sm g-bg-white g-brd-3 g-brd-yellow g-brd-style-solid u-btn-outline-yellow rounded-0"
                               href="#">17 июля 2017 г.</a>
                        </figcaption>
                    </figure>

                    <div class="g-pa-30">
                        <h3 class="h4 g-font-weight-600 g-mb-15">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">We build your
                                website to realise your vision, project and more</a>
                        </h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores.</p>

                        <strong>
                            <a class="text-uppercase g-font-size-12" href="#">Детальнее</a>
                        </strong>
                    </div>
                </article>
                <!-- End Article -->
            </div>

            <div class="col-lg-4 g-mb-30">
                <!-- Article -->
                <article class="g-bg-white">
                    <figure class="g-pos-rel">
                        <img class="img-fluid w-100" src="{% static "assets/img-temp/500x450/img11.jpg" %}"
                             alt="Image Description">

                        <figcaption class="g-pos-abs g-bottom-20 g-left-20">
                            <a class="btn btn-sm g-bg-white g-brd-3 g-brd-yellow g-brd-style-solid u-btn-outline-yellow rounded-0"
                               href="#">17 июля 2017 г.</a>
                        </figcaption>
                    </figure>

                    <div class="g-pa-30">
                        <h3 class="h4 g-font-weight-600 g-mb-15">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Praesentium to
                                website realise imperdiet demore elementum</a>
                        </h3>
                        <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla
                            lectus tellusimp imperdiet molestie est volutpat at. Sed viverra cursus
                            nibh.</p>

                        <strong>
                            <a class="text-uppercase g-font-size-12" href="#">Детальнее</a>
                        </strong>
                    </div>
                </article>
                <!-- End Article -->
            </div>
        </div>
    </div>
</section>