{% load staticfiles %}

{% if playbill %}
    <section id="promo" class="g-bg-black g-brd-none g-brd-bottom g-brd-primary g-brd-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{% url "playbill_play_detail" slug=playbill.event.play.slug %}"
                       title="{{ playbill.event.play }}"><img src="{{ playbill.image.main_event.url }}" alt=""
                                                                class="img-fluid"></a>
                </div>
            </div>
        </div>

        <div class="text-center g-pos-rel">
            <img src="{% static "assets/img/point-primary.png" %}" alt="" class="align-top g-pos-abs g-top-minus-3">
        </div>
    </section>
{% endif %}
