version: '3'

services:
  db:
    image: postgres
    container_name: sevtuz_db
    #restart: always
    ports:
      - "5432:5432"
    #volumes:
    #  - /var/python_projects/sevtuz/database:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
  web:
    build: .
    container_name: sevtuz_web
    command: bash -c "python manage.py makemigrations && python manage.py migrate && gunicorn sevtuz.wsgi -b 0.0.0.0:8000 -w 6"
    volumes:
      - .:/code
    ports:
      - "8001:8000"
    depends_on:
      - db
    #restart: always