{% extends "base.html" %}

{% load project_tags %}

{% block title %}
    {% if metadata.title.value %}
        {{ metadata.title.value }} / {{ month|month_title }} {{ year }}
    {% else %}
        Репертуар на / {{ month|month_title }} {{ year }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'playbill/repertoire/_partial/breadcrumbs_list.html' %}
{% endblock %}

{% block content %}
    <div class="container g-pt-70 g-pb-40">
        <div class="row justify-content-between">

            {% include 'playbill/repertoire/_partial/filter_scene.html' %}

            {% include 'playbill/repertoire/_partial/filter_date_age.html' %}

            <div class="col-lg-12 g-pt-50 g-min-height-300" id="list_table">
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script>
        var getEvents = function () {
            var month = '{{ request.GET.month }}';
            var year = '{{ request.GET.year }}';
            var filter1Value = $('input[name=radGroup1]:checked').val();
            var filter2Value = $('input[name=radGroup2]:checked').val();
            $.get(
                "{% url "playbill_get_events_table" %}",
                {month: month, year: year, filter1: filter1Value, filter2: filter2Value},
                function (data) {
                    $("#list_table").html(data);
                }
            )
        };

        $(function () {
            getEvents();
            $("input[type=radio]").click(getEvents);
        });
    </script>
{% endblock %}
