{% extends "base.html" %}

{% load project_tags %}

{% block title %}{{ page.title }} / Люди театра / {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "people/page_detail/_partial/breadcrumbs.html" %}
{% endblock %}

{% block content %}
    <div class="container g-pt-100 g-pb-20">
        <div class="row justify-content-between">
            <div class="col-lg-9 order-lg-2 g-mb-40">
                <div class="g-pl-20--lg">
                    {{ page.text|safe }}

                    {% if page.get_persons|length > 0 %}
                        {% include "people/page_detail/_partial/people.html" %}
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-3 order-lg-1 g-brd-right--lg g-brd-gray-light-v4 g-mb-40">
                <div class="g-pr-20--lg">
                    <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg"
                         data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
                        <div class="g-mb-50 u-brd-style-solid--left g-brd-yellow-left">
                            {% people_submenu as people_submenu %}
                            <ul class="list-unstyled mb-0 g-pl-10 g-font-size-18">
                                {% for page in people_submenu %}
                                    <li>
                                        <a href="{% url "people_page" slug=page.slug %}"
                                           class="{% if page.slug in request.get_full_path %}g-color-primary{% else %}g-color-gray-dark-v1{% endif %}">{{ page.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-12 g-mb-40" id="stickyblock-end"></div>
        </div>
    </div>
{% endblock %}
