asgiref==3.3.1
bbcode==1.1.0
beautifulsoup4==4.9.3
Django==2.2.17
django-annoying==0.10.6
django-appconf==1.0.4
django-bootstrap4==2.3.1
django-ckeditor==6.0.0
django-compressor==2.4
django-debug-toolbar==3.2
django-js-asset==1.2.2
easy-thumbnails==2.7.1
gunicorn==20.0.4
olefile==0.46
Pillow==8.0.1
psycopg2-binary==2.8.6
pybbm==0.19.0
python-dateutil==2.8.1
pytz==2020.5
rcssmin==1.0.6
rjsmin==1.1.0
singlemodeladmin==0.9
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
Unidecode==1.1.2
