{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Редактирование пароля{% endblock %}

{% block content %}
    <div class="container g-pt-35 g-pb-100">

        {% include 'staff_office/_partials/menu.html' %}

        <div class="row">
            <div class="col-12">
                <form method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-md u-btn-primary g-mr-10 g-my-10">Сохранить</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}