<h2 class="h3">Даты проведения спектакля</h2>

<!-- Basic Table -->
<div class="table-responsive">
    <table class="table">
        <tbody>
        {% for event in play.get_events %}
            <tr>
                <td class="g-brd-none g-font-weight-600">{{ event.datetime }}</td>
                <td class="g-brd-none">{{ event.scene }}</td>
                <td class="g-brd-none text-right">
                    {% if event.free_enter %}
                        <span class="text-success">Свободный вход</span>
                    {% else %}
                        {% if event.radario_id %}
                            <script src="https://radario.ru/scripts/widget/buy-button-widget.js"
                                    data-class="radarioButtonScript"
                                    data-radario-event-id="{{ event.radario_id }}"
                                    data-button-border-radius="5px"
                                    data-button-padding="4px 9px"
                                    data-button-text-size="12px"
                                    data-custom-color="#cc3333"
                            ></script>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- End Basic Table -->