{% extends 'base.html' %}

{% block title %}
    {% if metadata.title.value %}
        {{ metadata.title.value }}
    {% else %}
        {{ play.title }} / СевТЮЗ
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'plays/detail/_partial/breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row g-my-50">

            <div class="col-lg-6">
                {% include 'plays/detail/_partial/image.html' %}
            </div>

            <div class="col-lg-6">
                {% include 'plays/detail/_partial/properties.html' %}
            </div>

            {% if play.get_events|length > 0 %}
                <div class="col-lg-12 g-pt-30">
                    {% include 'plays/detail/_partial/events.html' %}
                </div>
            {% endif %}

            <div class="col-lg-12 g-pt-30">
                {{ play.text|safe }}
            </div>

            {% if play.roles.all|length > 0 %}
                <div class="col-lg-12 g-pt-50">
                    {% include 'plays/detail/_partial/roles.html' %}
                </div>
            {% endif %}

            {% if play.get_photos|length > 0 or play.get_videos|length > 0 %}
                <div class="col-lg-12 g-pt-50">
                    <div class="row">
                        {% include 'plays/detail/_partial/images_videos.html' %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}