{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% if metadata.title.value %}{{ metadata.title.value }}{% else %} Главная страница / CевТЮЗ{% endif %}{% endblock %}

{% block content %}

    <!-- Promo Block -->
    {% include "home/_partial/promo.html" %}
    <!-- End Promo Block -->

    <!-- Promo Block -->
    {% include "home/_partial/last_events.html" %}
    <!-- End Promo Block -->

    <!-- Last News Block -->
    {% include "home/_partial/last_news.html" %}
    <!-- End Last News Block -->

{% endblock %}