{% extends "base.html" %}

{% block title %}Вход в служебный кабинет{% endblock %}

{% block content %}

    <!-- Login -->
    <section class="g-bg-gray-light-v5">
        <div class="container g-py-100">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-lg-5">
                    <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
                        <header class="text-center mb-4">
                            <h2 class="h2 g-color-black g-font-weight-600">Авторизация</h2>
                        </header>

                        <!-- Form -->
                        <form class="g-py-15" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">

                            <div class="mb-4">
                                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Логин:</label>
                                {{ form.username }}
                            </div>

                            <div class="g-mb-35">
                                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Пароль:</label>
                                {{ form.password }}

                                <div class="row justify-content-between">
                                    <div class="col align-self-center text-right">
                                        <a class="g-font-size-12" href="{% url 'password_reset' %}">Забыли пароль?</a>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <button class="btn btn-md btn-block u-btn-primary rounded g-py-13" type="submit">Вход
                                </button>
                            </div>
                        </form>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Login -->


{% endblock %}