{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="container g-pt-35 g-pb-100 g-min-height-500">
        <div class="row">
            <div class="col-12">
                <p>Для сброса пароля введите свой E-Mail. На него вам придёт письмо с дальнейшими инструкциями.</p>

                <form method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-md u-btn-primary g-mr-10 g-my-10">Сбросить пароль</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}