{% extends "base.html" %}

{% block title %}{% if metadata.title.value %}{{ metadata.title.value }}{% else %}Афиша / CевТЮЗ{% endif %}{% endblock %}

{% block content %}
    <div class="container g-py-100">
        <div class="row">
            <div class="col-lg-12 text-uppercase g-color-black g-mb-40 text-center">
                <h1 class="h3 g-font-weight-600">{% if metadata.heading.value %}{{ metadata.heading.value }}{% else %}Афиша{% endif %}</h1>
            </div>

            <div class="col-lg-12 g-mb-50">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled g-font-size-20">
                            <li><a href="{% url 'playbill_events_list' %}">Репертуар</a></li>
                            <li><a href="{% url 'playbill_plays_current' %}">Спектакли</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
