<div class="d-flex g-mb-50">
    <ul class="nav g-font-size-20">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'staff_office_calendar' %}g-font-weight-600{% endif %}" href="{% url 'staff_office_calendar' %}">Мои события</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'staff_office_office' %}g-font-weight-600{% endif %}" href="{% url 'staff_office_office' %}">Контора</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'forum' in request.path %}g-font-weight-600{% endif %}" href="{% url 'pybb:index' %}">Форум</a>
        </li>
    </ul>

    <ul class="nav ml-auto g-pt-5">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'staff_office_profile' %}">Редактировать профиль (<strong>{{ request.user }}</strong>)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'staff_office_profile' %}"><strong>Смена пароля</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
        </li>
    </ul>
</div>