{% load thumbnail %}

<div class="text-center g-mb-10">
    {% if person.image %}
        <a class="js-fancybox d-block u-block-hover g-pos-rel" data-fancybox-gallery="lightbox-gallery--10"
           href="{{ person.image|thumbnail_url:'person_avatar_lg' }}" title="{{ play.title }}">
            <img class="img-fluid u-block-hover__main--zoom-v1"
                 src="{{ person.image|thumbnail_url:'person_avatar' }}"
                 alt="{{ person.name }}">
            <span class="u-icon-v3 u-icon-size--xs g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-10 g-right-10"><i
                    class="hs-icon hs-icon-magnifier"></i></span>
        </a>
    {% else %}
        <img src="http://via.placeholder.com/400x450?text=No+image" alt="" class="img-fluid">
    {% endif %}
</div>

{% if person.birthdate %}
    <p><span class="g-font-weight-600 text-uppercase">Дата рождения:</span> {{ person.birthdate }}</p>
{% endif %}

{% if person.education %}
    <p><span class="g-font-weight-600 text-uppercase">Образование:</span> {{ person.education }}</p>
{% endif %}

{% if person.prizes %}
    <p><span class="g-font-weight-600 text-uppercase">Награды:</span><br>
        {{ person.prizes|linebreaksbr }}</p>
{% endif %}

{% if person.ranks %}
    <p><span class="g-font-weight-600 text-uppercase">Звания:</span><br>
        {{ person.ranks|linebreaksbr }}</p>
{% endif %}

{% if person.current_plays.all|length > 0 %}
    <p class="g-mb-5"><span class="g-font-weight-600 text-uppercase">Текущие спеклакли:</span></p>
    <ul class="list-unstyled">
        {% for play in person.currentplay_set.all %}
            <li><a href="{% url "playbill_play_detail" slug=play.play.slug %}">{{ play.play.title }}</a>
                {% if play.text %} ({{ play.text }}){% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if person.last_plays.all|length > 0 %}
    <p class="g-mb-5"><span class="g-font-weight-600 text-uppercase">Спеклакли прошлых лет:</span></p>
    <ul class="list-unstyled">
        {% for play in person.lastplay_set.all %}
            <li><a href="{% url "playbill_play_detail" slug=play.play.slug %}">{{ play.play.title }}</a>
                {% if play.text %} ({{ play.text }}){% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}