{% extends "base.html" %}

{% load thumbnail %}

{% block extra_meta %}
    {% if request.GET.page %}
        <meta name="robots" content="noindex, follow" />
    {% endif %}
    {% if page_obj.has_previous %}
        <link rel="prev" href="?page={{ page_obj.previous_page_number }}">
    {% endif %}
    {% if page_obj.has_next %}
        <link rel="next" href="?page={{ page_obj.next_page_number }}">
    {% endif %}
{% endblock %}

{% block title %}Спектакли / {% if 'current' in request.get_full_path %}
    Текущие
{% elif 'archive' in request.get_full_path %}
    Архивные
{% elif 'plans' in request.get_full_path %}
    Планируемые
{% endif %} / {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include "plays/list/_partial/breadcrumbs.html" %}
{% endblock %}

{% block content %}
    <div class="container g-pt-100 g-pb-20">
        <div class="row justify-content-between">
            <div class="col-lg-9 order-lg-2 g-mb-40">
                <div class="g-pl-20--lg">
                    {% if play_list %}
                        {% for play in play_list %}
                            <div class="row g-pb-40">
                                <div class="col-4">
                                    <a href="{% url "play_detail" slug=play.slug %}">
                                        {% if play.image %}
                                            <img src="{{ play.image|thumbnail_url:'play_md' }}" alt="{{ play.title }}"
                                                 class="img-fluid">
                                        {% else %}
                                            <img class="img-fluid" src="\\via.placeholder.com/600x375?text=No+Photo" alt="No photo">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-8">
                                    <h2 class="h4 g-color-black g-font-weight-600 mb-3">
                                        <a class="u-link-v5 g-color-black g-color-primary--hover"
                                           href="{% url 'play_detail' slug=play.slug %}">{{ play.title }}</a>
                                    </h2>
                                    <p class="g-line-height-1_8">{{ play.text|striptags|truncatewords:40 }}</p>
                                    <a class="g-font-size-13" href="{% url 'play_detail' slug=play.slug %}">Читать
                                        далее...</a>
                                </div>
                            </div>
                        {% endfor %}


                        {% if is_paginated %}
                            <!-- Pagination -->
                            {% include 'plays/list/_partial/pagination.html' %}
                            <!-- End Pagination -->
                        {% endif %}
                    {% else %}
                        <span class="g-font-size-20">Спектакли отсутствуют.</span>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-3 order-lg-1 g-brd-right--lg g-brd-gray-light-v4 g-mb-40">
                <div class="g-pr-20--lg">
                    <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg"
                         data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">

                        <div class="g-mb-50 u-brd-style-solid--left g-brd-yellow-left">
                            <ul class="list-unstyled mb-0 g-pl-10 g-font-size-18">
                                <li>
                                    <a href="{% url "plays_list_current" %}"
                                       class="{% if request.resolver_match.url_name == 'plays_list_current' %}g-color-primary{% else %}g-color-gray-dark-v1{% endif %}">Текущие
                                        спектакли</a>
                                </li>
                                <li>
                                    <a class="{% if request.resolver_match.url_name == 'plays_list_archive' %}g-color-primary{% else %}g-color-gray-dark-v1{% endif %}"
                                       href="{% url "plays_list_archive" %}">Архивные
                                        спектакли</a></li>
                                <li>
                                    <a class="{% if request.resolver_match.url_name == 'plays_list_plans' %}g-color-primary{% else %}g-color-gray-dark-v1{% endif %}"
                                       href="{% url "plays_list_plans" %}">Планируемые
                                        спектакли</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-12 g-mb-40" id="stickyblock-end"></div>
        </div>
    </div>
{% endblock %}