<div class="table-responsive g-mt-15">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Дата и время начала</th>
            <th>Спектакль</th>
            <th>Возраст</th>
            <th>Площадка</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events_our %}
            <tr>
                <td>{{ event.datetime }}</td>
                <td class="g-font-weight-600">
                    <a href="{% url "playbill_play_detail" slug=event.play.slug %}">{{ event.play.title|upper }}</a>
                </td>
                <td>{{ event.play.age }}+</td>
                <td>{{ event.scene }}</td>
                <td class="text-center  radario">
                    {% if event.free_enter %}
                        <span class="text-success">Свободный вход</span>
                    {% else %}
                        {% if event.radario_id %}
                            <script src="https://radario.ru/scripts/widget/buy-button-widget.js"
                                    data-class="radarioButtonScript"
                                    data-radario-event-id="{{ event.radario_id }}"
                                    data-button-border-radius="5px"
                                    data-button-padding="6px 12px"
                                    data-button-text-size="13px"
                                    data-custom-color="#cc3333"
                            ></script>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>