{% load staticfiles %}
{% load project_tags %}
{% load seo %}
{% get_metadata as metadata %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>{% block title %}{{ metadata.title.value|default_if_none:"" }}{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ metadata.description.value|default_if_none:"" }}" />
    <meta name="keywords" content="{{ metadata.keywords.value|default_if_none:"" }}" />

    {% block extra_meta %}{% endblock %}

    <link rel="icon" type="image/jpg" href="{% static "assets/img/favicon.jpg" %}" />

    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/bootstrap.min.css" %}">
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="{% static "assets/vendor/icon-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/icon-line/css/simple-line-icons.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/icon-etlinefont/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/icon-line-pro/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/icon-hs/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/dzsparallaxer/dzsparallaxer.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/dzsparallaxer/dzsscroller/scroller.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/dzsparallaxer/advancedscroller/plugin.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fancybox/jquery.fancybox.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/slick-carousel/slick/slick.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/hs-megamenu/src/hs.megamenu.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/hamburgers/hamburgers.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/animate.css" %}">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{% static "assets/css/unify-core.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/unify-components.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/unify-globals.css" %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
</head>

<body>
<main>

    <!-- Header -->
    {% include "_partial/header.html" %}
    <!-- End Header -->

    {% block breadcrumbs %}{% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 g-min-height-500 text-center g-pt-150"><h1>Страница в разработке</h1></div>
            </div>
        </div>
    {% endblock %}

    <!-- Footer -->
    {% footer_1 %}
    <!-- End Footer -->

    <!-- Copyright Footer -->
    {% include "_partial/footer_2.html" %}
    <!-- End Copyright Footer -->

    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{"bottom": 15, "right": 15}'
       data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

<!-- JS Global Compulsory -->
<script src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "assets/vendor/jquery-migrate/jquery-migrate.min.js" %}"></script>
<script src="{% static "assets/vendor/jquery.easing/js/jquery.easing.js" %}"></script>
<script src="{% static "assets/vendor/popper.min.js" %}"></script>
<script src="{% static "assets/vendor/bootstrap/bootstrap.min.js" %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/hs-megamenu/src/hs.megamenu.js" %}"></script>
<script src="{% static "assets/vendor/dzsparallaxer/dzsparallaxer.js" %}"></script>
<script src="{% static "assets/vendor/dzsparallaxer/dzsscroller/scroller.js" %}"></script>
<script src="{% static "assets/vendor/dzsparallaxer/advancedscroller/plugin.js" %}"></script>
<script src="{% static "assets/vendor/masonry/dist/masonry.pkgd.min.js" %}"></script>
<script src="{% static "assets/vendor/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "assets/vendor/fancybox/jquery.fancybox.min.js" %}"></script>
<script src="{% static "assets/vendor/slick-carousel/slick/slick.js" %}"></script>

<!-- JS Unify -->
<script src="{% static "assets/js/hs.core.js" %}"></script>
<script src="{% static "assets/js/components/hs.header.js" %}"></script>
<script src="{% static "assets/js/helpers/hs.hamburgers.js" %}"></script>
<script src="{% static "assets/js/components/hs.dropdown.js" %}"></script>
<script src="{% static "assets/js/components/hs.popup.js" %}"></script>
<script src="{% static "assets/js/components/hs.carousel.js" %}"></script>
<script src="{% static "assets/js/components/hs.sticky-block.js" %}"></script>
<script src="{% static "assets/js/components/hs.go-to.js" %}"></script>
<script src="{% static "assets/js/helpers/hs.height-calc.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).ready(function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
            $('.masonry-grid').masonry({
                columnWidth: '.masonry-grid-sizer',
                itemSelector: '.masonry-grid-item',
                percentPosition: true
            });
        });

        // initialization of header's height equal offset
        $.HSCore.helpers.HSHeightCalc.init();

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of sticky blocks
        $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
    });

    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });
    });
</script>

{% block extrascript %}{% endblock %}
</body>

</html>