{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Главная | Севтюз</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/bootstrap.min.css" %}">
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="{% static "assets/vendor/icon-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/icon-line/css/simple-line-icons.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/icon-etlinefont/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/icon-line-pro/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/icon-hs/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/dzsparallaxer/dzsparallaxer.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/dzsparallaxer/dzsscroller/scroller.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/dzsparallaxer/advancedscroller/plugin.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fancybox/jquery.fancybox.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/slick-carousel/slick/slick.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/hs-megamenu/src/hs.megamenu.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/hamburgers/hamburgers.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/animate.css" %}">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{% static "assets/css/unify-core.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/unify-components.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/unify-globals.css" %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
</head>

<body>
<main>

    <!-- Header -->
    {% include "_partial/header.html" %}
    <!-- End Header -->

    <!-- Promo Block -->
    {% include "_partial/promo.html" %}
    <!-- End Promo Block -->

    <section class="g-py-50">
        <div class="container">
            <header class="text-center g-width-60x--md mx-auto g-mb-50">
                <div class="g-brd-primary g-mb-20">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Ближайшие
                        представления</h2>
                </div>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <div id="carousel-07" class="js-carousel" data-infinite="true"
                         data-center-padding="60px" data-slides-show="4"
                         data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-25 g-height-30 g-font-size-16 g-color-gray g-bg-gray-light-v5"
                         data-arrow-left-classes="fa fa-angle-left g-left-0"
                         data-arrow-right-classes="fa fa-angle-right g-right-0">

                        <div class="js-slide g-mx-10 g-brd-1 g-brd-gray-light-v3 g-brd-style-solid">
                            <div class="row">
                                <div class="col-6 text-left text-capitalized g-font-size-40 g-font-weight-600 g-line-height-1_2">
                                    <span class="g-brd-left-4 g-brd-yellow-left u-brd-style-solid--left g-pl-5">27</span>
                                </div>
                                <div class="col-6 text-right text-uppercase g-font-size-18 g-font-weight-600 g-line-height-1 g-pt-6">
                                    <span class="g-pr-5">СБ</span><br>
                                    <span class="g-pr-5">11.00</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <a class="d-block u-block-hover g-pos-rel g-px-30" href="#">
                                        <img class="img-fluid rounded-circle u-block-hover__main--zoom-v1"
                                             src="{% static "assets/img-temp/200x200/img1.jpg" %}"
                                             alt="Image Description">
                                        <span class="u-icon-v2 u-icon-size--md g-pt-8 g-brd-3 g-brd-yellow g-brd-style-solid g-font-size-20 g-font-weight-600 g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-0 g-right-30">
                                            10+
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 g-pt-10 g-pb-30">
                                    <h3 class="h4 text-uppercase g-font-weight-600 g-pl-5"><a
                                            class="u-link-v5 g-color-main g-color-primary--hover" href="#">Теремок</a>
                                    </h3>
                                    <span class="g-pl-5 g-color-black">Сказка</span>
                                </div>
                            </div>
                        </div>

                        <div class="js-slide g-mx-10 g-brd-1 g-brd-gray-light-v3 g-brd-style-solid">
                            <div class="row">
                                <div class="col-6 text-left text-capitalized g-font-size-40 g-font-weight-600 g-line-height-1_2">
                                    <span class="g-brd-left-4 g-brd-yellow-left u-brd-style-solid--left g-pl-5">27</span>
                                </div>
                                <div class="col-6 text-right text-uppercase g-font-size-18 g-font-weight-600 g-line-height-1 g-pt-6">
                                    <span class="g-pr-5">СБ</span><br>
                                    <span class="g-pr-5">11.00</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <a class="d-block u-block-hover g-pos-rel g-px-30" href="#">
                                        <img class="img-fluid rounded-circle u-block-hover__main--zoom-v1"
                                             src="{% static "assets/img-temp/200x200/img1.jpg" %}"
                                             alt="Image Description">
                                        <span class="u-icon-v2 u-icon-size--md g-pt-8 g-brd-3 g-brd-yellow g-brd-style-solid g-font-size-20 g-font-weight-600 g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-0 g-right-30">
                                            10+
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 g-pt-10 g-pb-30">
                                    <h3 class="h4 text-uppercase g-font-weight-600 g-pl-5"><a
                                            class="u-link-v5 g-color-main g-color-primary--hover" href="#">Теремок</a>
                                    </h3>
                                    <span class="g-pl-5">Сказка</span>
                                </div>
                            </div>
                        </div>

                        <div class="js-slide g-mx-10 g-brd-1 g-brd-gray-light-v3 g-brd-style-solid g-bg-orange">
                            <div class="row">
                                <div class="col-6 text-left text-capitalized g-font-size-40 g-font-weight-600 g-line-height-1_2 g-color-black">
                                    <span class="g-brd-left-4 g-brd-yellow-left u-brd-style-solid--left g-pl-5">27</span>
                                </div>
                                <div class="col-6 text-right text-uppercase g-font-size-18 g-font-weight-600 g-line-height-1 g-pt-6 g-color-black">
                                    <span class="g-pr-5">СБ</span><br>
                                    <span class="g-pr-5">11.00</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <a class="d-block u-block-hover g-pos-rel g-px-30" href="#">
                                        <img class="img-fluid rounded-circle u-block-hover__main--zoom-v1"
                                             src="{% static "assets/img-temp/200x200/img1.jpg" %}"
                                             alt="Image Description">
                                        <span class="u-icon-v2 u-icon-size--md g-pt-8 g-brd-3 g-brd-yellow g-brd-style-solid g-font-size-20 g-font-weight-600 g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-0 g-right-30">
                                            10+
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 g-pt-10 g-pb-30">
                                    <h3 class="h4 text-uppercase g-font-weight-600 g-pl-5"><a
                                            class="g-color-gray-dark-v1" href="#">Теремок</a></h3>
                                    <span class="g-pl-5 g-color-black">Сказка</span>
                                </div>
                            </div>
                        </div>

                        <div class="js-slide g-mx-10 g-brd-1 g-brd-gray-light-v3 g-brd-style-solid">
                            <div class="row">
                                <div class="col-6 text-left text-capitalized g-font-size-40 g-font-weight-600 g-line-height-1_2">
                                    <span class="g-brd-left-4 g-brd-yellow-left u-brd-style-solid--left g-pl-5">27</span>
                                </div>
                                <div class="col-6 text-right text-uppercase g-font-size-18 g-font-weight-600 g-line-height-1 g-pt-6">
                                    <span class="g-pr-5">СБ</span><br>
                                    <span class="g-pr-5">11.00</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <a class="d-block u-block-hover g-pos-rel g-px-30" href="#">
                                        <img class="img-fluid rounded-circle u-block-hover__main--zoom-v1"
                                             src="{% static "assets/img-temp/200x200/img1.jpg" %}"
                                             alt="Image Description">
                                        <span class="u-icon-v2 u-icon-size--md g-pt-8 g-brd-3 g-brd-yellow g-brd-style-solid g-font-size-20 g-font-weight-600 g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-0 g-right-30">
                                            10+
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 g-pt-10 g-pb-30">
                                    <h3 class="h4 text-uppercase g-font-weight-600 g-pl-5"><a
                                            class="u-link-v5 g-color-main g-color-primary--hover" href="#">Теремок</a>
                                    </h3>
                                    <span class="g-pl-5">Сказка</span>
                                </div>
                            </div>
                        </div>

                        <div class="js-slide g-mx-10 g-brd-1 g-brd-gray-light-v3 g-brd-style-solid">
                            <div class="row">
                                <div class="col-6 text-left text-capitalized g-font-size-40 g-font-weight-600 g-line-height-1_2">
                                    <span class="g-brd-left-4 g-brd-yellow-left u-brd-style-solid--left g-pl-5">27</span>
                                </div>
                                <div class="col-6 text-right text-uppercase g-font-size-18 g-font-weight-600 g-line-height-1 g-pt-6">
                                    <span class="g-pr-5">СБ</span><br>
                                    <span class="g-pr-5">11.00</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <a class="d-block u-block-hover g-pos-rel g-px-30" href="#">
                                        <img class="img-fluid rounded-circle u-block-hover__main--zoom-v1"
                                             src="{% static "assets/img-temp/200x200/img1.jpg" %}"
                                             alt="Image Description">
                                        <span class="u-icon-v2 u-icon-size--md g-pt-8 g-brd-3 g-brd-yellow g-brd-style-solid g-font-size-20 g-font-weight-600 g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-0 g-right-30">
                                            10+
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 g-pt-10 g-pb-30">
                                    <h3 class="h4 text-uppercase g-font-weight-600 g-pl-5"><a
                                            class="u-link-v5 g-color-main g-color-primary--hover" href="#">Теремок</a>
                                    </h3>
                                    <span class="g-pl-5">Сказка</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Counters -->
    <section class="dzsparallaxer auto-init g-min-height-350">
        <!-- Parallax Image -->
        <div class="dzsparallaxer--target w-100 g-bg-size-cover u-bg-overlay g-bg-black-opacity-0_3--after"
             style="height: 140%; background: url({% static "assets/img/parallax.jpg" %})"></div>
        <!-- End Parallax Image -->
    </section>
    <!-- Counters -->

    <section class="g-bg-secondary g-py-50">
        <div class="container">
            <header class="text-center g-width-60x--md mx-auto g-mb-50">
                <div class="g-brd-primary g-mb-20">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                        Новости</h2>
                </div>
            </header>

            <div class="row">
                <div class="col-lg-4 g-mb-30">
                    <!-- Article -->
                    <article class="g-bg-white">
                        <figure class="g-pos-rel">
                            <img class="img-fluid w-100" src="{% static "assets/img-temp/500x450/img2.jpg" %}"
                                 alt="Image Description">

                            <figcaption class="g-pos-abs g-bottom-20 g-left-20">
                                <a class="btn btn-sm g-bg-white g-brd-3 g-brd-yellow g-brd-style-solid u-btn-outline-yellow rounded-0"
                                   href="#">17 июля 2017 г.</a>
                            </figcaption>
                        </figure>

                        <div class="g-pa-30">
                            <h3 class="h4 g-font-weight-600 g-mb-15">
                                <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Focused on
                                    helping our clients to build a great business</a>
                            </h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores.</p>

                            <strong>
                                <a class="text-uppercase g-font-size-12" href="#">Детальнее</a>
                            </strong>
                        </div>
                    </article>
                    <!-- End Article -->
                </div>

                <div class="col-lg-4 g-mb-30">
                    <!-- Article -->
                    <article class="g-bg-white">
                        <figure class="g-pos-rel">
                            <img class="img-fluid w-100" src="{% static "assets/img-temp/500x450/img10.jpg" %}"
                                 alt="Image Description">

                            <figcaption class="g-pos-abs g-bottom-20 g-left-20">
                                <a class="btn btn-sm g-bg-white g-brd-3 g-brd-yellow g-brd-style-solid u-btn-outline-yellow rounded-0"
                                   href="#">17 июля 2017 г.</a>
                            </figcaption>
                        </figure>

                        <div class="g-pa-30">
                            <h3 class="h4 g-font-weight-600 g-mb-15">
                                <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">We build your
                                    website to realise your vision, project and more</a>
                            </h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores.</p>

                            <strong>
                                <a class="text-uppercase g-font-size-12" href="#">Детальнее</a>
                            </strong>
                        </div>
                    </article>
                    <!-- End Article -->
                </div>

                <div class="col-lg-4 g-mb-30">
                    <!-- Article -->
                    <article class="g-bg-white">
                        <figure class="g-pos-rel">
                            <img class="img-fluid w-100" src="{% static "assets/img-temp/500x450/img11.jpg" %}"
                                 alt="Image Description">

                            <figcaption class="g-pos-abs g-bottom-20 g-left-20">
                                <a class="btn btn-sm g-bg-white g-brd-3 g-brd-yellow g-brd-style-solid u-btn-outline-yellow rounded-0"
                                   href="#">17 июля 2017 г.</a>
                            </figcaption>
                        </figure>

                        <div class="g-pa-30">
                            <h3 class="h4 g-font-weight-600 g-mb-15">
                                <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Praesentium to
                                    website realise imperdiet demore elementum</a>
                            </h3>
                            <p>Nullam elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla
                                lectus tellusimp imperdiet molestie est volutpat at. Sed viverra cursus
                                nibh.</p>

                            <strong>
                                <a class="text-uppercase g-font-size-12" href="#">Детальнее</a>
                            </strong>
                        </div>
                    </article>
                    <!-- End Article -->
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {% include "_partial/footer_1.html" %}
    <!-- End Footer -->

    <!-- Copyright Footer -->
    {% include "_partial/footer_2.html" %}
    <!-- End Copyright Footer -->

    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{"bottom": 15, "right": 15}'
       data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

<!-- JS Global Compulsory -->
<script src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "assets/vendor/jquery-migrate/jquery-migrate.min.js" %}"></script>
<script src="{% static "assets/vendor/jquery.easing/js/jquery.easing.js" %}"></script>
<script src="{% static "assets/vendor/popper.min.js" %}"></script>
<script src="{% static "assets/vendor/bootstrap/bootstrap.min.js" %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static "assets/vendor/hs-megamenu/src/hs.megamenu.js" %}"></script>
<script src="{% static "assets/vendor/dzsparallaxer/dzsparallaxer.js" %}"></script>
<script src="{% static "assets/vendor/dzsparallaxer/dzsscroller/scroller.js" %}"></script>
<script src="{% static "assets/vendor/dzsparallaxer/advancedscroller/plugin.js" %}"></script>
<script src="{% static "assets/vendor/masonry/dist/masonry.pkgd.min.js" %}"></script>
<script src="{% static "assets/vendor/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "assets/vendor/fancybox/jquery.fancybox.min.js" %}"></script>
<script src="{% static "assets/vendor/slick-carousel/slick/slick.js" %}"></script>

<!-- JS Unify -->
<script src="{% static "assets/js/hs.core.js" %}"></script>
<script src="{% static "assets/js/components/hs.header.js" %}"></script>
<script src="{% static "assets/js/helpers/hs.hamburgers.js" %}"></script>
<script src="{% static "assets/js/components/hs.dropdown.js" %}"></script>
<script src="{% static "assets/js/components/hs.popup.js" %}"></script>
<script src="{% static "assets/js/components/hs.carousel.js" %}"></script>
<script src="{% static "assets/js/components/hs.go-to.js" %}"></script>
<script src="{% static "assets/js/helpers/hs.height-calc.js" %}"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).ready(function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
            $('.masonry-grid').masonry({
                columnWidth: '.masonry-grid-sizer',
                itemSelector: '.masonry-grid-item',
                percentPosition: true
            });
        });

        // initialization of header's height equal offset
        $.HSCore.helpers.HSHeightCalc.init();

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
    });

    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });
    });
</script>
</body>

</html>