{% load staticfiles %}
{% load thumbnail %}

<!-- Team Block -->
<div class="row g-mb-40">
    {% for person in page.get_persons %}
        <div class="col-md-6 g-mb-30">
            <!-- Figure -->
            <div class="row">
                <!-- Figure Image -->
                <div class="col-lg-7 text-center">
                    {% if person.has_page %}
                    <a href="{% url "person_detail" slug=person.slug %}">
                        <img class="img-fluid" src="{% if person.image %}{{ person.image|thumbnail_url:'person_avatar' }}{% else %}//via.placeholder.com/400x450?text=No+Image{% endif %}"
                             alt="{{ person.name }}">
                    </a>
                    {% else %}
                        <img class="img-fluid" src="{% if person.image %}{{ person.image|thumbnail_url:'person_avatar' }}{% else %}//via.placeholder.com/400x450?text=No+Image{% endif %}"
                             alt="{{ person.name }}">
                    {% endif %}
                </div>

                <!-- Figure Info -->
                <div class="col-lg-5 g-pl-10--lg">
                    <em class="d-block g-font-style-normal g-font-size-12 g-color-black g-mb-5">{{ person.position.title }}</em>
                    <h4 class="h5 g-color-black g-mb-5 text-uppercase">
                        {% if person.has_page %}
                            <a class="g-color-black g-font-weight-600"
                               href="{% url "person_detail" slug=person.slug %}">{{ person.name }}</a>
                        {% else %}
                            {{ person.name }}
                        {% endif %}
                    </h4>
                </div>
                <!-- End Info -->
            </div>
            <!-- End Figure -->
        </div>
    {% endfor %}
</div>
<!-- End Team Block -->
