{% load staticfiles %}
{% load thumbnail %}

<!-- Team Block -->
<div class="row g-mt-50">
    {% for person in page.get_persons %}
        <div class="col-lg-4 col-sm-6 g-mb-30">
            <!-- Figure -->
            <figure class="text-center">
                <!-- Figure Image -->
                {% if person.has_page %}
                    <a href="{% url "person_detail" slug=person.slug %}">
                        <img class="w-100 g-mb-20" src="{% if person.image %}{{person.image|thumbnail_url:'person_avatar' }}{% else %}//via.placeholder.com/400x450?text=No+Image{% endif %}"
                             alt="{{ person.name }}">
                    </a>
                {% else %}
                    <img class="w-100 g-mb-20" src="{% if person.image %}{{person.image|thumbnail_url:'person_avatar' }}{% else %}//via.placeholder.com/400x450?text=No+Image{% endif %}"
                         alt="{{ person.name }}">
                {% endif %}
                <!-- End Figure Image -->

                <!-- Figure Info -->
                <div class="g-mb-20">
                    <h4 class="h5 g-color-black g-mb-5">
                        {% if person.has_page %}
                            <a class="g-color-black" href="{% url "person_detail" slug=person.slug %}">{{ person.name }}</a>
                        {% else %}
                            {{ person.name }}
                        {% endif %}
                    </h4>
                    <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary g-mb-12">{{ person.position.title }}</em>
                </div>
                <!-- End Info -->
            </figure>
            <!-- End Figure -->
        </div>
    {% endfor %}
</div>
<!-- End Team Block -->
