{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{% if metadata.title.value %}{{ metadata.title.value }}{% else %}{{ news.title }} / Новости / CевТЮЗ
{% endif %}{% endblock %}

{% block content %}
    <div class="container g-py-100">
        <div class="row">
            <div class="col-lg-12 h3 text-uppercase g-color-black g-font-weight-600 g-mb-40 text-center">
                Новости
            </div>

            <div class="col-lg-12 g-mb-50">
                <div class="row">
                    <div class="col-lg-5">
                        {% if news.image %}
                            <a class="js-fancybox d-block g-pos-rel" href="{{ news.image|thumbnail_url:'news_lg' }}"
                               title="Single Image">
                                <img class="img-fluid" src="{{ news.image|thumbnail_url:'news_md' }}"
                                     alt="{{ news.title }}">
                                <span class="u-icon-v3 u-icon-size--xs g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-bottom-10 g-right-10">
                                    <i class="hs-icon hs-icon-magnifier"></i>
                                </span>
                            </a>
                        {% else %}
                            <img class="img-fluid" src="//via.placeholder.com/500x320?text=No+Image" alt="No Image">
                        {% endif %}
                    </div>

                    <div class="col-lg-7 g-color-black">
                        <span class="g-font-weight-600">{{ news.created_at|date }}</span>

                        <h1 class="h3 text-uppercase g-color-black g-font-weight-600">
                            {% if metadata.heading.value %}{{ metadata.heading.value }}{% else %}
                                {{ news.title }}{% endif %}</h1>

                        <div class="g-line-height-1_8 g-mb-40">{{ news.text|safe }}</div>

                        <div class="row no-gutters">
                            <div class="col-auto text-uppercase g-pt-10 g-pr-10 g-font-weight-600">Поделиться</div>
                            <div class="col-auto">{% include "_partial/pluso.html" %}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                {% include 'theater/news/_partial/more_news.html' %}
            </div>
        </div>
    </div>
{% endblock %}