{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% load project_tags %}
{% load theater_extras %}

{% block title %}
    {% if metadata.title.value %}
        {{ metadata.title.value }}{% if month_title %} / {{ month_title }} {{ request.GET.year }} г. {% endif %}{% if request.GET.page %} / Страница {{ request.GET.page }} {% endif %}
    {% else %}
        Новости{% if month_title %} за {{ month_title }} {{ request.GET.year }} г. {% endif %}{% if request.GET.page %} / Страница {{ request.GET.page }} {% endif %} / СевТЮЗ
    {% endif %}
{% endblock %}

{% block extra_meta %}
    {% if request.GET.page %}
        <meta name="robots" content="noindex, follow" />
    {% endif %}
    {% if page_obj.has_previous %}
        <link rel="prev" href="?{% url_replace request 'page' page_obj.previous_page_number %}">
    {% endif %}
    {% if page_obj.has_next %}
        <link rel="next" href="?{% url_replace request 'page' page_obj.next_page_number %}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container g-pt-100 g-pb-20">
        <div class="row justify-content-between">

            <div class="col-lg-12 text-center">
                <h1 class="h3 text-uppercase g-color-black g-font-weight-600 g-mb-30">{% if metadata.heading.value %}{{ metadata.heading.value }}{% else %}Новости{% endif %}</h1>
            </div>

            <div class="col-lg-10 order-lg-2 g-mb-80">
                <div class="g-pl-20--lg">
                    {% if news_list|length > 0 %}
                        {% for news in news_list %}
                            <!-- Article -->
                            <div class="row g-mb-40">
                                <div class="col-md-2 g-mb-20 text-center">
                                    {% if news.image %}
                                    <a href="{% url "theater_news_detail" slug=news.slug %}"><img class="rounded-circle img-fluid" src="{{ news.image|thumbnail_url:'news_xs_square' }}"
                                         alt="{{ news.title }}"></a>
                                    {% else %}
                                    <a href="{% url "theater_news_detail" slug=news.slug %}"><img class="rounded-circle img-fluid" src="//via.placeholder.com/200?text=No+Image"
                                         alt="{{ news.title }}"></a>
                                    {% endif %}
                                </div>

                                <div class="col-md-10 g-color-black">
                                    <p class="g-mb-0 g-font-weight-600"><time>{{ news.created_at|date }}</time></p>

                                    <h3 class="h5 g-font-weight-600 text-uppercase">
                                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="{% url "theater_news_detail" slug=news.slug %}">{{ news.title }}</a>
                                    </h3>

                                    <p class="">{{ news.text|striptags|truncatewords:40|safe }}</p>

                                    <p class="text-right text-lowercase"><a class="g-color-black small" href="{% url "theater_news_detail" slug=news.slug %}">Далее <img
                                            src="{% static "assets/img/right.png" %}" alt=""></a></p>

                                </div>
                            </div>
                            <!-- End Article -->
                        {% endfor %}
                    {% else %}
                        Новости отсутствуют
                    {% endif %}

                    {% if is_paginated %}
                        <!-- Pagination -->
                        {% include 'theater/news/_partial/pagination.html' %}
                        <!-- End Pagination -->
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-2 order-lg-1 g-brd-right--lg g-brd-gray-light-v4 g-mb-80">
                <div class="g-pr-20--lg">
                    <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg"
                         data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">

                        <div class="g-mb-50 u-brd-style-solid--left g-brd-primary-left">
                            <ul class="list-unstyled mb-0 g-pl-10">
                                {% now 'Y' as year_now %}
                                {% for season in seasons %}
                                    {% if season.year_from <= year_now|to_int %}
                                        <li class="g-mb-20">
                                            <span class="g-font-size-20 g-font-weight-600">{{ season.title }}</span><br>
                                            <span class="g-font-size-20 g-font-weight-600 g-line-height-0">{{ season.year_from }} - {{ season.year_to }}</span>

                                            <ul class="list-unstyled g-pt-5 mb-0 g-font-size-14">
                                                {% for month in months %}
                                                    {% if month.0 >= season.month_from %}
                                                        <li class="month">
                                                            <a class="g-color-black g-color-primary--hover"
                                                               href="{% url 'theater_news_list' %}?year={{ season.year_from }}&month={{ month.0 }}"
                                                            >{% if request.GET.year == season.year_from|stringformat:"i" and request.GET.month == month.0|stringformat:"i" %}<img src="{% static "assets/img/point-primary.png" %}" alt="">{% endif %}{{ month.1 }} ({% news_count season.year_from month.0 %})</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for month in months %}
                                                    {% if month.0 <= season.month_to %}
                                                        <li class="month">
                                                            <a class="g-color-black g-color-primary--hover"
                                                               href="{% url 'theater_news_list' %}?year={{ season.year_to }}&month={{ month.0 }}"
                                                            >{% if request.GET.year == season.year_to|stringformat:"i" and request.GET.month == month.0|stringformat:"i" %}<img src="{% static "assets/img/point-primary.png" %}" alt="">{% endif %}{{ month.1 }} ({% news_count season.year_to month.0 %})</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-between g-mb-40">
            <div class="col-lg-12" id="stickyblock-end"></div>
        </div>
    </div>
{% endblock %}
