.u-brd-style-solid--bottom {
  border-bottom-style: solid;
}

.u-brd-style-solid--left {
  border-left-style: solid;
}

.g-bg-orange-opacity-0_8 {
  background-color: rgba(229, 125, 32, 0.8) !important;
}

@media (min-width: 992px) {
  .g-font-size-30--lg {
    font-size: 30px !important;
  }
}

.hs-mega-menu::before {
  right: 100%;
}

.hs-mega-menu::after {
  left: 100%;
}

@media (min-width: 992px) {
  .hs-mega-menu::before, .hs-mega-menu::after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    width: 2000%;
    border-top: inherit;
    border-bottom: inherit;
    background-color: $g-color-primary;
  }
}

.u-bg-left-arrow {
  background-image: url("/static/assets/img/left.png");
  background-repeat: no-repeat;
}

.u-bg-right-arrow {
  background-image: url("/static/assets/img/right.png");
  background-repeat: no-repeat;
}

.js-slide:hover {
  .day {
    border-left-color: #ff9b02 !important;
  }
}

.u-text-underline--hover:hover {
  text-decoration: underline;
}

.u-top-minus-7 {
  top: -7px;
}

.u-left-minus-12 {
  left: -10px;
}

li.month {
  position: relative !important;
  a {
    img {
      position: absolute !important;
      left: -16px;
      top: 8px;
    }
  }
}

li.season {
  @extend li.month;
  a {
    img {
      top: 13px;
    }
  }
}

li.hs-has-mega-menu > .nav-link {
  color: #000 !important;
}

li.hs-has-mega-menu > .nav-link.active {
  color: $g-color-primary !important;
}

.u-accordion {
  &__control-icon {
    position: relative !important;

    & img {
      position: absolute !important;
      display: inline;
      left: -5px;
      top: 5px;

      .collapsed & {
        display: none;
      }
    }
  }
}

.person-plays {
  a {
    text-decoration: underline;
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: $g-color-primary;
  }
}

#carousel-person-photos {
  .g-absolute-centered--y {
    top: 46% !important;
  }
}

@media (min-width: $g-md) {
  .g-height-80--md {
    height: 80px !important;
  }
}

.results em {
  color: $g-color-danger;
  font-weight: 600;
}

.content {
  font-size: 1.1rem;

  a:not(.u-pagination-v1__item, .btn) {
    color: $g-color-red;
  }
}

.fc-event, .fc-event-dot {
    color: #fff !important;
}

@import "../../pybb/forum";
@import "../../pybb/visual";
@import "../../pybb/posts";

.forum-subscription {
  display: none;
}

.add-row, .delete-row {
  font-size: 14px;
}

.attachment-ref {
  display: none !important;
}

.controls {
  margin-bottom: 10px;
}

.subscriber-list {
  display: none;
}

ul.breadcrumb {
  li {
    display: inline;
  }
}

.g-font-size-110 {
  font-size: 110px;
}

.g-font-size-120--hover:hover {
  font-size: 120px;
}

.g-bg-yellow-opacity-0_3 {
  background-color: rgba(255, 204, 51, 0.3) !important;
}
