.u-brd-style-solid--bottom {
  border-bottom-style: solid;
}

.u-brd-style-solid--left {
  border-left-style: solid;
}

.g-bg-orange-opacity-0_8 {
  background-color: rgba(229, 125, 32, 0.8) !important;
}