.u-brd-style-solid--bottom {
  border-bottom-style: solid;
}

.u-brd-style-solid--left {
  border-left-style: solid;
}

.g-bg-orange-opacity-0_8 {
  background-color: rgba(229, 125, 32, 0.8) !important;
}

@media (min-width: 992px) {
  .g-font-size-30--lg {
    font-size: 30px !important;
  }
}

.hs-mega-menu::before {
  right: 100%;
}

.hs-mega-menu::after {
  left: 100%;
}

@media (min-width: 992px) {
  .hs-mega-menu::before, .hs-mega-menu::after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    width: 2000%;
    border-top: inherit;
    border-bottom: inherit;
    background-color: #fbc233;
  }
}

.u-bg-left-arrow {
  background-image: url("/static/assets/img/left.png");
  background-repeat: no-repeat;
}

.u-bg-right-arrow {
  background-image: url("/static/assets/img/right.png");
  background-repeat: no-repeat;
}

.js-slide:hover {
  .day {
    border-left-color: #ff9b02 !important;
  }
}

.u-text-underline--hover:hover {
  text-decoration: underline;
}

.u-top-minus-7 {
  top: -7px;
}

.u-left-minus-12 {
  left: -10px;
}

li.month {
  position: relative !important;
  a {
    img {
      position: absolute !important;
      left: -16px;
      top: 8px;
    }
  }
}

li.season {
  @extend li.month;
  a {
    img {
      top: 13px;
    }
  }
}

li.hs-has-mega-menu > .nav-link {
  color: #000 !important;
}

li.hs-has-mega-menu > .nav-link.active {
  color: #fbc233 !important;
}