{% load staticfiles %}

<div class="g-width-60x--md mx-auto">
    <div class="form-group g-mb-20">
        <div class="input-group rounded g-mb-15">
            <input class="form-control form-control-md g-font-size-16 pr-0 g-py-15" placeholder="Поисковый запрос"
                   type="text" value="{{ request.GET.q }}" name="q">
            <span class="input-group-btn">
                <button class="btn btn-md u-btn-primary g-py-15" type="submit"><i class="icon-magnifier"></i></button>
            </span>
        </div>

        <small class="form-text g-opacity-0_8 g-font-size-default">Введите в это поле свой поисковый запрос, например,
            "О маленьких для больших".
        </small>
    </div>
</div>