{% load staticfiles %}
{% load tickets_extras %}
{% load theater_extras %}
{% load people_extras %}
{% load media_extras %}

<div class="text-center g-pos-rel g-brd-none g-brd-bottom g-brd-orange g-brd-3">
    <img src="{% static "assets/img/point-orange.png" %}" alt="" class="align-top g-pos-abs g-top-minus-3">
</div>

<div class="g-bg-yellow g-color-black g-pt-20 g-pb-40">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="g-my-20">
                    <h2 class="h5 text-uppercase mb-0">Билеты</h2>
                </div>

                <nav>
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        {% tickets_pages as t_p %}
                        {% for page in t_p %}
                            <li class="g-pos-rel g-py-10">
                                <h4 class="h6 mb-0">
                                    <a class="text-lowercase g-color-black" href="{% url "tickets_page" slug=page.slug %}">{{ page.title }}</a>
                                </h4>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="col">
                <div class="g-my-20">
                    <h2 class="h5 text-uppercase mb-0">Театр</h2>
                </div>

                <nav>
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="{% url "theater_news_list" %}">Новости</a>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="{% url "theater_history" %}">История</a>
                            </h4>
                        </li>
                        {% theater_pages as t_p %}
                        {% for page in t_p|slice:":2" %}
                            <li class="g-pos-rel g-py-10">
                                <h4 class="h6 mb-0">
                                    <a class="text-lowercase g-color-black" href="{% url "theater_page" slug=page.slug %}">{{ page.title }}</a>
                                </h4>
                            </li>
                        {% endfor %}
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="{% url "theater_documents" %}">Официальные документы</a>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="{% url "theater_partners" %}">Партнёры</a>
                            </h4>
                        </li>
                        {% for page in t_p|slice:"2:" %}
                            <li class="g-pos-rel g-py-10">
                                <h4 class="h6 mb-0">
                                    <a class="text-lowercase g-color-black" href="{% url "theater_page" slug=page.slug %}">{{ page.title }}</a>
                                </h4>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="col">
                <div class="g-my-20">
                    <h2 class="h5 text-uppercase mb-0">Люди театра</h2>
                </div>

                <nav>
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        {% people_pages as p_p %}
                        {% for page in p_p %}
                            <li class="g-pos-rel g-py-10">
                                <h4 class="h6 mb-0">
                                    <a class="text-lowercase g-color-black" href="{% url "people_page" slug=page.slug %}">{{ page.title }}</a>
                                </h4>
                            </li>
                        {% endfor %}

                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="{% url "vacancies_page" %}">Вакансии</a>
                            </h4>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col">
                <div class="g-my-20">
                    <h2 class="h5 text-uppercase mb-0">Афиша</h2>
                </div>

                <nav>
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="{% url 'playbill_events_list' %}">Репертуар</a>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="{% url 'playbill_plays_current' %}">Спектакли</a>
                            </h4>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col">
                <div class="g-my-20">
                    <h2 class="h5 text-uppercase mb-0">Медиа</h2>
                </div>

                <nav>
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        {% media_pages as m_p %}
                        {% for page in m_p %}
                            <li class="g-pos-rel g-py-10">
                                <h4 class="h6 mb-0">
                                    <a class="text-lowercase g-color-black" href="{% url "media_page" slug=page.slug %}">{{ page.title }}</a>
                                </h4>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="col">
                <div class="g-my-20">
                    <h2 class="h5 text-uppercase mb-0">Проекты</h2>
                </div>

                <nav>
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="#">Фестивали</a>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="#">Акции</a>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="#">Школа театрального зрителя</a>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 mb-0">
                                <a class="text-lowercase g-color-black" href="#">Театры-детям</a>
                            </h4>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col">
                <div class="g-my-20">
                    <h2 class="h5 text-uppercase mb-0"><a class="g-color-black" href="{% url "contacts" %}">Контакты</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center g-pos-rel g-brd-none g-brd-bottom g-brd-3" style="border-color: #f2ec4e !important;">
    <img src="{% static "assets/img/point-yellow.png" %}" alt="" class="align-top g-pos-abs g-top-minus-3">
</div>