{% load staticfiles %}
<div id="contacts-section" class="g-bg-yellow g-color-black-opacity-0_8 g-py-60">
    <div class="container">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-black-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">О нас</h2>
                </div>

                <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt
                    sodales.</p>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-black-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Ближайшие представления</h2>
                </div>

                <article>
                    <h3 class="h6 g-mb-2">
                        <a class="g-color-black-opacity-0_8 g-color-black--hover" href="#">Теремок</a>
                    </h3>
                    <div class="small g-color-black-opacity-0_6">25 февраля 2017 г.</div>
                </article>

                <hr class="g-brd-black-opacity-0_1 g-my-10">

                <article>
                    <h3 class="h6 g-mb-2">
                        <a class="g-color-black-opacity-0_8 g-color-black--hover" href="#">Теремок</a>
                    </h3>
                    <div class="small g-color-black-opacity-0_6">25 февраля 2017 г.</div>
                </article>

                <hr class="g-brd-black-opacity-0_1 g-my-10">

                <article>
                    <h3 class="h6 g-mb-2">
                        <a class="g-color-black-opacity-0_8 g-color-black--hover" href="#">О больших для маленьких</a>
                    </h3>
                    <div class="small g-color-black-opacity-0_6">25 февраля 2017 г.</div>
                </article>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-black-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Ссылки</h2>
                </div>

                <nav class="text-uppercase1">
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-brd-bottom g-brd-black-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-black-opacity-0_8 g-color-black--hover" href="#">Купить билет</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-black-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-black-opacity-0_8 g-color-black--hover" href="#">Афиша</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-black-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-black-opacity-0_8 g-color-black--hover" href="#">Новости</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-black-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-black-opacity-0_8 g-color-black--hover" href="#">Контакты</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-black-opacity-0_8 g-color-black--hover" href="#">Вакансии</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6">
                <div class="u-heading-v2-3--bottom g-brd-black-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Контакты</h2>
                </div>

                <address class="g-bg-no-repeat g-font-size-12 mb-0">
                    <!-- Location -->
                    <div class="d-flex g-mb-20">
                        <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-black-opacity-0_1 g-color-black-opacity-0_6">
                <i class="fa fa-map-marker"></i>
              </span>
                        </div>
                        <p class="mb-0">г. Севастополь, <br> пр. Гагарина, 16</p>
                    </div>
                    <!-- End Location -->

                    <!-- Phone -->
                    <div class="d-flex g-mb-20">
                        <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-black-opacity-0_1 g-color-black-opacity-0_6">
                <i class="fa fa-phone"></i>
              </span>
                        </div>
                        <p class="mb-0">(+123) 456 7890 <br> (+123) 456 7891</p>
                    </div>
                    <!-- End Phone -->

                    <!-- Email and Website -->
                    <div class="d-flex g-mb-20">
                        <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-black-opacity-0_1 g-color-black-opacity-0_6">
                <i class="fa fa-globe"></i>
              </span>
                        </div>
                        <p class="mb-0">
                            <a class="g-color-black-opacity-0_8 g-color-black--hover"
                               href="mailto:info@htmlstream.com">sevtuz@mail.ru</a>
                            <br>
                            <a class="g-color-black-opacity-0_8 g-color-black--hover"
                               href="#">sevtuz.ru</a>
                        </p>
                    </div>
                    <!-- End Email and Website -->
                </address>
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</div>