{% load project_tags %}
{% load static %}

<footer class="g-bg-orange g-color-black g-pt-30 ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-left g-mb-20">
                <div class="d-lg-flex">
                    <small class="d-block g-font-size-10 g-mb-0--md">
                        {{ footer_data.information_block_text|safe }}
                    </small>
                </div>

                <div class="d-flex g-mt-10">
                    <a href="http://quality.mkrf.ru/" target="_blank"><img
                                src="{% static "assets/img/logo/logo-mkrf.png" %}" alt="" class="img-fluid"></a>
                    <div class="g-ml-10 g-line-height-1_2 g-font-size-13 d-flex align-items-center">
                        <a class="g-color-gray-dark-v2" href="http://quality.mkrf.ru/" target="_blank">Оценка качества услуг учреждений культуры</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 g-mb-20">
                <div class="text-center g-font-size-22 g-font-weight-600">{{ footer_data.phone }}</div>

                {% social_links as social_links %}
                <ul class="list-inline text-center g-mt-10">
                    {% if social_links.fb %}
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                            title="Facebook">
                            <a href="{{ social_links.fb }}" target="_blank">
                                <img class="img-fluid g-width-32" src="{% static "assets/img/icons/social-media/045-facebook.png" %}" alt="">
                            </a>
                        </li>
                    {% endif %}

                    {% if social_links.vk %}
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                            title="Vkontakte">
                            <a href="{{ social_links.vk }}" target="_blank">
                                <img class="img-fluid g-width-32" src="{% static "assets/img/icons/social-media/vk.png" %}" alt="">
                            </a>
                        </li>
                    {% endif %}

                    {% if social_links.instagram %}
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                            title="Instagram">
                            <a href="{{ social_links.instagram }}">
                                <img class="img-fluid g-width-32" src="{% static "assets/img/icons/social-media/instagram.png" %}" alt="">
                            </a>
                        </li>
                    {% endif %}

                    {% if social_links.ok %}
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                            title="Одноклассники">
                            <a href="{{ social_links.ok }}">
                                <img class="img-fluid g-width-32" src="{% static "assets/img/icons/social-media/iconfinder_odnoklassniki_386670.png" %}" alt="">
                            </a>
                        </li>
                    {% endif %}

                    {% if social_links.twitter %}
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <a href="{{ social_links.twitter }}" target="_blank">
                                <img class="img-fluid g-width-32" src="{% static "assets/img/icons/social-media/013-twitter-1.png" %}" alt="">
                            </a>
                        </li>
                    {% endif %}

                    {% if social_links.youtube %}
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                            title="Youtube">
                            <a href="{{ social_links.youtube }}" target="_blank">
                                <img class="img-fluid g-width-32" src="{% static "assets/img/icons/social-media/youtube.png" %}" alt="">
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <div class="text-center g-font-size-14 g-font-weight-600">#СЕВТЮЗ</div>
            </div>

            <div class="col-md-4 g-mb-20 d-flex flex-column align-items-center">
                <a href="https://2019.culture.ru/" target="_blank"><img src="{% static "assets/img/logo/logo-god-teatra.png" %}" alt="" class="img-fluid"></a>

                <div class="g-pt-10 g-font-size-20 g-font-weight-600">
                    <a class="g-color-black" href="{% url 'login' %}" >служебный вход <i class="fa fa-play g-font-size-16"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>