{% load staticfiles %}
{% load project_tags %}

<header id="js-header"
        class="u-header u-header--static u-header--show-hide u-header--change-appearance g-brd-yellow-bottom u-brd-style-solid--bottom"
        data-header-fix-moment="500" data-header-fix-effect="slide">
    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10"
         data-header-fix-moment-exclude="g-bg-white g-py-10"
         data-header-fix-moment-classes="g-bg-white-opacity-0_7 u-shadow-v18 g-py-0">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
                        type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                        data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Logo -->
                <a href="/" class="navbar-brand">
                    <img src="{% static "assets/img/logo/logo.jpg" %}" alt="Севтюз">
                </a>
                <!-- End Logo -->

                <!-- Navigation -->
                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--sm"
                     id="navBar">
                    <ul class="navbar-nav text-uppercase g-font-weight-600 mr-auto">
                        <li class="nav-item g-mx-15--lg  {% if request.resolver_match.url_name == 'events_list' %}active{% endif %}">
                            <a href="{% url 'events_list' %}" class="nav-link px-0">Репертуар
                                {% if request.resolver_match.url_name == 'events_list' %}
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>

                        <li class="nav-item g-mx-15--lg {% if request.resolver_match.url_name == 'news_list' or request.resolver_match.url_name == 'news_detail' %}active{% endif %}">
                            <a href="{% url 'news_list' %}" class="nav-link px-0">Новости
                                {% if request.resolver_match.url_name == 'news_list' or request.resolver_match.url_name == 'news_detail' %}
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>

                        <li class="nav-item g-mx-15--lg {% if request.resolver_match.url_name == 'play_detail' %}active{% endif %}">
                            <a href="#" class="nav-link px-0">Театр
                                {% if request.resolver_match.url_name == 'play_detail' %}
                                    <span class="sr-only">(current)</span>
                                {% endif %}
                            </a>
                        </li>

                        <li class="nav-item g-mx-15--lg">
                            <a href="#" class="nav-link px-0">Труппа</a>
                        </li>

                        <li class="nav-item g-mx-15--lg">
                            <a href="#" class="nav-link px-0">Люди театра</a>
                        </li>

                        <li class="nav-item g-mx-15--lg">
                            <a href="#" class="nav-link px-0">Контакты</a>
                        </li>

                        <li class="nav-item g-ml-15--lg g-mr-0--lg g-bg-red-opacity-0_8">
                            <a href="#" class="nav-link g-px-5 g-color-white">Купить билет</a>
                        </li>
                    </ul>

                    {% social_links as social_links %}
                    <ul class="list-inline text-center text-md-right mb-0">
                        {% if social_links.fb %}
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Facebook">
                                <a href="{{ social_links.fb }}"
                                   target="_blank"
                                   class="g-color-black-opacity-0_5 g-color-black--hover g-font-size-16">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if social_links.vk %}
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Vkontakte">
                                <a href="{{ social_links.vk }}"
                                   target="_blank"
                                   class="g-color-black-opacity-0_5 g-color-black--hover g-font-size-16">
                                    <i class="fa fa-vk"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if social_links.instagram %}
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Instagram">
                                <a href="{{ social_links.instagram }}"
                                   target="_blank"
                                   class="g-color-black-opacity-0_5 g-color-black--hover g-font-size-16">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if social_links.ok %}
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Одноклассники">
                                <a href="{{ social_links.ok }}"
                                   target="_blank"
                                   class="g-color-black-opacity-0_5 g-color-black--hover g-font-size-16">
                                    <i class="fa fa-odnoklassniki"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if social_links.twitter %}
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Twitter">
                                <a href="{{ social_links.twitter }}"
                                   target="_blank"
                                   class="g-color-black-opacity-0_5 g-color-black--hover g-font-size-16">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if social_links.youtube %}
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Youtube">
                                <a href="{{ social_links.youtube }}"
                                   target="_blank"
                                   class="g-color-black-opacity-0_5 g-color-black--hover g-font-size-16">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- End Navigation -->
            </div>
        </nav>
    </div>
</header>