{% load staticfiles %}

<section class="g-bg-cover g-bg-pos-center g-bg-img-hero"
         style="background-image: url({% static "assets/img/promo/bg.jpg" %}); height: 574px">
    <div class="container g-bg-cover__inner">
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="#" class="btn btn-md u-btn-outline-white g-mt-32 g-mb-20 g-ml-30--md text-capitalize">Купить
                    билет</a>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <a href="/" title="Главная страница">
                    <img src="{% static "assets/img/promo/logo.jpg" %}" class="img-fluid" alt="Logo">
                </a>
            </div>
        </div>
    </div>
</section>