{% load staticfiles %}
{% load project_tags %}

{% header_settings as header_settings %}
<div class="u-header__section u-header__section--hidden g-bg-red bvi-hide">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="row no-gutters">
                    <div class="col-md-2 text-center g-pt-10 g-pt-30--md g-pb-0 g-pb-10--md g-pr-10--md g-pr-0--lg">
                        {% if header_settings.header_data.ukgs_link %}
                            <a href="{{ header_settings.header_data.ukgs_link }}" rel="noopener"><img
                                    src="{% static "assets/img/logo/ukgs.png" %}" alt="" class="img-fluid"></a>
                        {% else %}
                            <a href="#" rel="noopener"><img src="{% static "assets/img/logo/ukgs.png" %}" alt=""
                                                            class="img-fluid"></a>
                        {% endif %}
                    </div>

                    <div class="col-md-10 text-center g-pt-10">
                        <a href="/"><img src="{% static "assets/img/header/sevtuz.png" %}" alt=""
                                         class="img-fluid w-100"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-2 text-center g-pt-10 g-pb-20 g-pb-10--md">
                <div class="row">
                    <div class="col-12">
                        <a href="#" class="bvi-panel-open g-font-size-14 g-color-white">A</a>
                        <a href="#" class="bvi-panel-open g-font-size-18 g-color-white">A</a>
                        <a href="#" class="bvi-panel-open g-font-size-22 g-color-white">A</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if header_settings.header_data.buy_ticket_link %}
                            <a href="{{ header_settings.header_data.buy_ticket_link }}"><img
                                    src="{% static "assets/img/header/buy-ticket.png" %}" alt=""
                                    class="img-fluid"></a>
                        {% else %}
                            <a href="#"><img src="{% static "assets/img/header/buy-ticket.png" %}" alt=""
                                             class="img-fluid"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>