{% load staticfiles %}

<div class="u-header__section u-header__section--hidden g-bg-red bvi-hide">
    <div class="container">
        <div class="row">
            <div class="col-md-10 text-center g-pt-10">
                <a href="/"><img src="{% static "assets/img/header/sevtuz.png" %}" alt="" class="w-100"></a>
            </div>
            <div class="col-md-2 text-center g-pt-10 g-pb-20 g-pb-0--md">
                <div class="row">
                    <div class="col-12">
                        <a href="#" class="bvi-panel-open g-font-size-14 g-color-white">A</a>
                        <a href="#" class="bvi-panel-open g-font-size-18 g-color-white">A</a>
                        <a href="#" class="bvi-panel-open g-font-size-22 g-color-white">A</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="#"><img src="{% static "assets/img/header/buy-ticket.png" %}" alt=""
                                         class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>