{% load static from staticfiles %}
{% load project_tags %}

{% header_settings as header_settings %}
<div class="u-header__section u-header__section--hidden g-bg-red bvi-hide">
    <div class="container">
        <div class="row no-gutters g-mt-200">
            <div class="col-12 col-md-2 d-flex align-items-center justify-content-center order-md-1 g-py-5">
                <div class="g-min-width-110">
                    {% if header_settings.header_data.ukgs_link %}
                        <a href="{{ header_settings.header_data.ukgs_link }}" target="_blank" rel="noopener"><img
                                src="{% static "assets/img/header/upr_kult.svg" %}" alt="" class="img-fluid w-100"></a>
                    {% else %}
                        <img src="{% static "assets/img/header/upr_kult.svg" %}" alt="" class="img-fluid w-100">
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-md-2 order-md-3 d-flex align-items-center justify-content-center g-py-5">
                <div>
                    <div class="d-flex justify-content-center">
                        <div>
                            <a href="#" class="bvi-panel-open g-font-size-14 g-color-white">A</a>
                            <a href="#" class="bvi-panel-open g-font-size-18 g-color-white">A</a>
                            <a href="#" class="bvi-panel-open g-font-size-22 g-color-white">A</a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        {% if header_settings.header_data.buy_ticket_link %}
                            <a href="{{ header_settings.header_data.buy_ticket_link }}"
                               class="btn btn-lg u-btn-yellow g-color-black"
                            ><i class="fa fa-cart-plus g-mr-5"></i>Купить билет</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 order-md-2 g-pr-15--md g-ml-minus-10--md g-mt-20">
                <div class="d-flex w-100 h-100 align-items-end justify-content-center">
                    <a href="/"><img src="{% static "assets/img/header/sevtuz_logo.svg" %}" alt="" class="img-fluid w-100"></a>
                </div>
            </div>
        </div>
    </div>
</div>